body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.account-info {
    background-color: white;
    padding: 20px;
    margin: 50px auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

h3 {
    margin-top: 20px;
    color: #333;
}

strong {
    color: #2c3e50;
}
